<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>

<body>
<p>Zubair has sent to you this automatic email</p>
<p>
  Your shop details<br>
  --------------------------
</p>
<p>Name: <%= @shop.shop_name %></p>
<p>Description: <%= @shop.description %></p>
<p>
  Categories:<br>
  ----------
</p>
<p>Temp categories</p>
</body>
</html>